.form__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-image: url(https://cdn.pixabay.com/photo/2019/04/30/12/34/smart-4168483_1280.jpg);
    background-image: url(https://cdn.pixabay.com/photo/2018/12/10/10/21/earth-3866609_1280.jpg);
    object-fit: fill;
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #2A2550;
        padding: 36px;
        border-radius: 6px;
        min-height: 60%;
        h3.form__title {
            font-size: 28px;
            font-weight: 400px;
            color: #AEFEFF;
        }
        input, button {
            width: 100%;
            margin: 8px;
            padding: 6px;
            background: transparent;
            border: 1px solid #E04D01;
            color: #AEFEFF;
            border-radius: 8px;
        }
        button {
            background: #E04D01;
            color: #AEFEFF;
        }
        .switch_to_login {
            color: #FFF;
        }
        a {
            color: #E04D01;
            text-decoration: none;
        }
    }

}